<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="itemMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title align="center">aboutUs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Nama : Steven Wijaya</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>NIM : 00000020163</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Kelas : C</ion-label>
  </ion-item>
  <ion-item>
    <ion-text>Library yang dipakai : angluar/core , angular/form , angular/common , ionic/angular , angular/router udeh. paling sama modul praktek mingguan terus ppt pak wawo</ion-text>
  </ion-item>
  <ion-item>
    <ion-text>Saya mengerjakan ini sendiri, tetapi ya kadang ngobrol/ngeluh/nanya ke multi chat atau temen magang yang isinya anak anak UMN juga.
      kalo ASLAB mau nanya temen di multi siapa aja, pc aja. karena menurut gua gak penting ditulis disini haha</ion-text>
  </ion-item>
</ion-content>
